In [1]:
import pickle
import pandas as pd

In [5]:
filename_event_list = "moodle_default_events_list.xlsx"
event_list = pd.read_excel(filename_event_list, header=7)
event_list[:3]

,vague,event name in DB,User-Agent-Based,Active/Passive,Extracted Event Name,Event Name,Component,Education Level,CRUD,Affected Table,Since,Legacy Event
0,NaN,Badge archived,4 Student-System,22 passive,\core\event\badge_archived,Badge archived\n\core\event\badge_archived,core,Teaching,update,badge,3.2,NaN
1,NaN,Badge awarded,6 Course Relevant Actions,22 passive,\core\event\badge_awarded,Badge awarded\n\core\event\badge_awarded,core,Teaching,create,badge,2.9,NaN
2,NaN,Badge created,5 Others,NaN,\core\event\badge_created,Badge created\n\core\event\badge_created,core,Teaching,create,badge,3.2,NaN

In [8]:
filename_course_log = 'course_log.pkl'
course_log_list = pd.read_pickle(filename_course_log)
course_log = pd.DataFrame(course_log_list)
course_log[:3]

,action,target,crud,contextlevel,edulevel,eventname,userid,role,relateduserid,courseid,timecreated
0,viewed,course,r,50,2,\core\event\course_viewed,13,norole,NaN,3,1598956500
1,viewed,user_list,r,50,0,\core\event\user_list_viewed,13,norole,NaN,3,1598956507
2,viewed,user_list,r,50,0,\core\event\user_list_viewed,13,norole,NaN,3,1598956516